@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

/* For all <code> */
code {
    font-family: 'Ubuntu Mono', monospace;
    font-size: inherit;
}

/* Code in text */
p code,
li code,
dd code,
td code,
pre code {
    background: hsl(0, 0%, 11%);
    color: hsl(0, 0%, 83%);
    word-wrap: break-word;
    box-decoration-break: clone;
    padding: .1rem .3rem .2rem;
    border-radius: .2rem;
}
