footer {
    margin-top: 2rem;
    background-color: hsl(0, 0%, 17%);
    color: #eee;
    font-family: 'Roboto', sans-serif;
    padding: 2rem 4rem;
    bottom: 0;
    height: 2.5rem;            /* Footer height */
}
