.proj-nav {
    width: 100%;
    list-style: none;
}

.proj-nav li {
    display: inline-block;
    padding: 0 0.5rem;
}

.proj-nav li a,
figcaption {
    font-family: 'Lexend', sans-serif;
    font-size: 1.125rem;
    color: hsl(0, 0%, 11%);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 250ms ease-in-out;
}

.proj-nav li a:hover,
figcaption:hover {
    color: black;
}