{% extends "base.html.twig" %}

{% block title %}Documentation - Game{% endblock %}

{% block content %}
<main class="main">
    <h1>Documentation</h1>
    <figure>
        <img class="img"
            src="{{ asset('img/studenten.png') }}"
            alt="Studenten 2020"
        />
        <figcaption>
            <span class="un">Robin Johannesson, Student 2020</span>
        </figcaption>
    </figure>
</main>
{% endblock %}