{% extends "base.html.twig" %}

{% block title %}Home - Game{% endblock %}

{% block content %}
<main class="main">
    <h1>Card game</h1>

    <a class="a-btn" href="{{ path('game_init') }}">
        <button>Starta spelet</button>
    </a>

    <a class="a-btn" href="{{ path('game_doc') }}">
        <button>Dokumentation</button>
    </a>

    <br><br>
    <h2>Information</h2>
    <hr>
<pre>
Spelets idé är att med två eller flera kort försöka uppnå det sammanlagda värdet 21, eller komma så nära som möjligt utan att överskrida 21. Ess är värt 1 eller 14.

Du kan läsa mer om <a href="https://sv.wikipedia.org/wiki/Tjugoett_(kortspel)"> om grunderna i spelet på Wikipedia</a>.
</pre>

    <br>
    <h2>Regler</h2>
    <hr>
    <ul class="rules">
        <li>
            <p>Spelaren tar ett kort. Kortet visas.</p>
        </li>
        <li>
            <p>Spelaren kan bestämma att stanna eller ta ytterligare ett kort.</p>
        </li>
        <li>
            <p>Om spelaren får över 21 vinner banken.</p>
        </li>
        <li>
            <p>När spelaren stannar så är det bankens tur.</p>
        </li>
        <li>
            <p>Banken är inte medveten om spelarens korthand.</p>
        </li>
        <li>
            <p>Banken plockar kort tills den stannar eller har över 21.</p>
        </li>
        <li>
            <p>Banken vinner vid lika eller om banken har mer än spelaren.</p>
        </li>
        <li>
            <p>Spelaren vinner om banken får över 21.</p>
        </li>
        <li>
            <p>Därefter kan man påbörja en ny omgång.</p>
        </li>
    </ul>
</main>
{% endblock %}