{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    <main class="main">
            <h2>Home</h2>
            <figure>
                <img class="img"
                    src="{{ asset('img/studenten.png') }}"
                    alt="Studenten 2020"
                />
                <figcaption>
                    <span class="un">Robin Johannesson, Student 2020</span>
                </figcaption>
            </figure>
<pre>
Hejsan, jag heter Robin Johannesson och är född 22 Augusti 2001. Jag är uppvuxen i Kristianstad, Skåne. Jag gillar då att programmera, oftast inom spel-programmering.

Jag har då studerat på LBS sedan 2017, och tog studenten 2020. Under 2020-2022 fick jag gå på Komvux och försöka få upp betygen så att jag kunde ta gymnasieexamen.

Programmering har alltid varit en favorit sak att göra. Jag fick lära mig C# språket på LBS. Däremot hade jag lite kunskap om HTML/CSS/JavaScript redan 2015/2016-ich. Under 2022 har jag börjat mig och lära C++ tillsammans med Unreal Engine (spelmotor), där jag kan lite förkunskaper inom spel-industrin och olika kunskaper om deras verktyg som man kan använda till ett spel-projekt.

På friden gillar jag spelar spel, samt skapa spel/musik. Skapa spel kan vara lite tufft/stressigt ibland. Dock hittade en grupp som gjorde ett bil-spel i Unity (spelmotor) som jag tyckte om och ville bidra till projekt.
Så jag kontakta dem och fick göra lite uppdrag till dem. 

Spel-projektet heter "Apex Point". <a href="#" target="_blank">Länk till deras hemsida.</a>

Spelet utspelas sig i Japan och består av JDM kulturen. JDM står för Japanese domestic market. Poängen med spelet är att racea runt med sin street bil tillsammans med sina vänner. Spelet har också realistisk bil-fysikmotor som simulera näst intill verkliga livet.
</pre>
    </main>
{% endblock %}

{# Presentation av dig själv inklusive en bild. Det är okey att vara anonym och hitta på en figur att presentera. #}
