{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
<h2>Report</h2>
<aside class="aside">
    <h4>Innehållsförteckning</h4>
    <ul class="toc">
        <li>
            <a href="#kmom01">
                <span class="un">kmom01</span>
            </a>
        </li>
        <li>
            <a href="#kmom02">
                <span class="un">kmom02</span>
            </a>
        </li>
        <li>
            <a href="#kmom03">
                <span class="un">kmom03</span>
            </a>
        </li>
        <li>
            <a href="#kmom04">
                <span class="un">kmom04</span>
            </a>
        </li>
        <li>
            <a href="#kmom05">
                <span class="un">kmom05</span>
            </a>
        </li>
        <li>
            <a href="#kmom06">
                <span class="un">kmom06</span>
            </a>
        </li>
        <li>
            <a href="#kmom10">
                <span class="un">kmom10</span>
            </a>
        </li>
    </ul>
</aside>
<article class="article">
    <h3 id="kmom01">kmom01</h3>
<pre>
<b>Berätta kort om dina förkunskaper och tidigare erfarenheter kring objektorientering.</b>
Text

<b>Berätta kort om PHPs modell för klasser och objekt. Vilka är de grunder man behöver veta/förstå för att kunna komma igång och skapa sina första klasser?</b> Text

<b>Reflektera kort över den kodbas, koden, strukturen som användes till uppgiften me/report, hur uppfattar du den?</b> Text

<b>Med tanke på artikeln “PHP The Right Way”, vilka delar in den finner du extra intressanta och värdefulla? Är det några särskilda områden som du känner att du vill veta mer om? Lyft fram några delar av artikeln som du känner mer värdefulla.</b> Text

<b>Vilken är din TIL för detta kmom?</b> Text
</pre>

    <h3 id="kmom02">kmom02</h3>
<pre>
</pre>

    <h3 id="kmom03">kmom03</h3>
<pre>
</pre>

    <h3 id="kmom04">kmom04</h3>
<pre>
</pre>

    <h3 id="kmom05">kmom05</h3>
<pre>
</pre>

    <h3 id="kmom06">kmom06</h3>
<pre>
</pre>

    <h3 id="kmom10">kmom10</h3>
<pre>
</pre>
</article>
{% endblock %}

{# Samlar dina redovisningstexter för kursens kmom.
Skapa även så att länken /report#kmom01 leder direkt till kursmomentets redovisningstext. #}
