{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block content %}
<div class="two-col-layout right">
    <main class="main">
        <h2>Report</h2>
        <article class="article">
            <h3 id="kmom01">kmom01</h3>
<pre>
<b>Berätta kort om dina förkunskaper och tidigare erfarenheter kring objektorientering.</b>
Eftersom jag har började med C# sedan 2017, har jag då starka erfarenheter kring objektorientering programmering.

<b>Berätta kort om PHPs modell för klasser och objekt. Vilka är de grunder man behöver veta/förstå för att kunna komma igång och skapa sina första klasser?</b> Att då kunna några nyckelord, som <em>class</em>, <em>extends</em>, <em>namespace</em> och <em>use</em>. Där <em>namespace</em> används för att separera koden i olika områden. <em>Class</em> används för skapa en klass och <em>extends</em> används för ärva ett klass objekt som är redan skapad. Och <em>use</em> används för att använda objekt i som en komposition.

<b>Reflektera kort över den kodbas, koden, strukturen som användes till uppgiften me/report, hur uppfattar du den?</b> Lite annorlunda jämfört med C# och C++, däremot finns det några likheter. Där språket känns bekant och enkelt att använda.

<b>Med tanke på artikeln “PHP The Right Way”, vilka delar in den finner du extra intressanta och värdefulla? Är det några särskilda områden som du känner att du vill veta mer om? Lyft fram några delar av artikeln som du känner mer värdefulla.</b>

S.O.L.I.D. är något som alla programmering språk bör följa. Samt vad för funktioner PHP har och erbjuda. Och vilka design patterns man bör följa eller undvika. 

<b>Vilken är din TIL för detta kmom?</b> Jag lärde mig hur Symfony kan användas, samt hur man implementera Symfony i sitt projekt.
</pre>
            <h3 id="kmom02">kmom02</h3>
<pre>
<b>Förklara kort de objektorienterade konstruktionerna arv, komposition, interface och trait och hur de används i PHP.</b>

* Arv (inheritance) är ett sätt där du kan ärva en klass genom barn klasser. Till exempel: Fordon -> Bil. På så sätt kan du bryta ner koden mer och göra mer specifik var koden tillhör.

* Komposition (composition) är ett sätt där du kan få fram metoder/variabler från en annan klass, men den klassen är inte kopplad i själva klassen. Till exempel: En bil har en motor, men motor kan fungera av sig själv och måste ej finnas i bilen.

* Interface är ett sätt där du kan ärva funktioner som måstes implementera. Till exempel, i bilen måste man kunna start motor. Däremot kan vi (programmerare) ändra funktionalitet.

* Trait är ett sätt för inkludera funktioner från en klass, men klassen arvs av andra klasser istället. Till exempel: vi vill ha information om vädret, men vi vill visa upp information i bilens konsol.

<b>Berätta om din implementation från uppgiften. Hur löste du uppgiften, är du nöjd/missnöjd, vilken förbättringspotential ser du i din koden och dina klasser?</p> Jag är delvis nöjd med koden. Eftersom jag är inte vann med PHP och hur PHP struktur fungera, kan det vara lite jobbig att förstå sig på. Och eftersom jag är vann med C# och C++ är det lite skillnader mellan programmeringsspråket.

<b>Berätta hur det kändes att modellera ett kortspel med flödesdiagram och psuedokod. Var det något som du tror stödjer dig i din problemlösning och tankearbete för att strukturera koden kring en applikation?</b> Ja, eftersom har tidigare erfarenheter inom C# och C++ hjälper detta mig mycket. Där man får träna på skriva objektorienterade kod.

<b>Vilken är din TIL för detta kmom?</b> Jag lärde mig hur man skriv objektorienterade kod i PHP, samt PHP syntax.
</pre>
            <h3 id="kmom03">kmom03</h3>
<pre>
<b>Berätta hur det kändes att modellera ett kortspel med flödesdiagram och psuedokod. Var det något som du tror stödjer dig i din problemlösning och tankearbete för att strukturera koden kring en applikation?</b> Text

<b>Berätta om din implementation från uppgiften. Hur löste du uppgiften, är du nöjd/missnöjd, vilken förbättringspotential ser du i din koden, dina klasser och applikationen som helhet?</b> Text

<b>Vilken är din känsla för att koda i ett ramverk som Symfony, så här långt in i kursen?</b> Text

<b>Vilken är din TIL för detta kmom?</b> Text
</pre>
            <h3 id="kmom04">kmom04</h3>
<pre>
</pre>
            <h3 id="kmom05">kmom05</h3>
<pre>
</pre>
            <h3 id="kmom06">kmom06</h3>
<pre>
</pre>
            <h3 id="kmom10">kmom10</h3>
<pre>
</pre>
        </article>
    </main>
    <aside class="aside">
        <h4>Innehållsförteckning</h4>
        <ul class="toc">
            <li>
                <a href="#kmom01">
                    <span class="un">kmom01</span>
                </a>
            </li>
            <li>
                <a href="#kmom02">
                    <span class="un">kmom02</span>
                </a>
            </li>
            <li>
                <a href="#kmom03">
                    <span class="un">kmom03</span>
                </a>
            </li>
            <li>
                <a href="#kmom04">
                    <span class="un">kmom04</span>
                </a>
            </li>
            <li>
                <a href="#kmom05">
                    <span class="un">kmom05</span>
                </a>
            </li>
            <li>
                <a href="#kmom06">
                    <span class="un">kmom06</span>
                </a>
            </li>
            <li>
                <a href="#kmom10">
                    <span class="un">kmom10</span>
                </a>
            </li>
        </ul>
    </aside>
</div>
{% endblock %}
