{% extends "base.html.twig" %}

{% block title %}API{% endblock %}

{% block content %}
<main class="main">
    <h1>API</h1>

    <p>Hello, World! <a href="api/quote">Länk till API</a></p>
</main>
{% endblock %}