{% extends "proj_base.html.twig" %}

{% block title %}End - Poker Square{% endblock %}

{% block proj %}
<main class="main">
    <h1>Slutsidan</h1>
    <p>Du fick '{{ totalPoints }}' poäng.</p>
    <br>
    <iframe src="https://giphy.com/embed/l0MYv61yrzZu6roFG" width="480" height="461" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/vintage-cartoon-poker-l0MYv61yrzZu6roFG">via GIPHY</a></p>
</main>
{% endblock %}